@model E_Commerce.Models.tblAddress
@{ 
    Layout = "~/Views/Shared/_EditProfile.cshtml";
    ViewData["Title"] = "Create Address";
    var returnUrlTemp = "";
    if (TempData["returnUrl"] != null)
    {
        returnUrlTemp = TempData["returnUrl"].ToString();
    }
}
<div class="card h-100">
    <div class="card-body">

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" maxlength="10"/>
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pincode" class="control-label"></label>
                <input asp-for="pincode" class="form-control" maxlength="6" />
                <span asp-validation-for="pincode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <textarea asp-for="Address" class="form-control"></textarea>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" onclick="submitCustom(e)"  asp-route-ReturnUrl="@Context.Request.Query["ReturnUrl"].ToString()" />
            </div>
        </form>
</div>
    </div>

<script>
    function submitCustom(e) {
        e.preventDefault();

    }
</script>
