@model E_Commerce.Models.ApplicationUser
@{
    ViewData["Title"] = "EditProfile";
    @* Layout = "~/Views/Shared/_custdash.cshtml";*@
    Layout = "~/Views/Shared/_EditProfile.cshtml";
}
<div class="card h-100">
    <div class="card-body">
        <form asp-action="EditProfile" asp-controller="Home" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <label asp-for="fname" class="control-label">Full Name</label>
                <input asp-for="fname" class="form-control" placeholder="Full Name" />
                <span asp-validation-for="fname" style="color:red;"></span>

            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label">Email-Id</label>
                <input asp-for="UserName" class="form-control" placeholder="Email" readonly />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input type="number" asp-for="PhoneNumber" class="form-control" placeholder="Phone Number" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="PasswordHash" class="control-label"></label>
                    <input asp-for="PasswordHash" class="form-control" placeholder="Password" />
                    <span asp-validation-for="PasswordHash" class="text-danger"></span>
                </div>*@
            <div class="form-group py-3">
                <input type="submit" value="Save Changes" class="btn btn-primary" onclick="submitCustom(e)" />
            </div>
        </form>

    </div>
</div>
@if (TempData["AlertMessage"] != null)
{
    <script>
        $.toast({
            heading: 'Success',
            showHideTransition: 'slide',
            icon: 'success',
            text: '@TempData["AlertMessage"]',
            position: 'bottom-right',
            stack: false
        })
    </script>

}
@if (TempData["AlertMessages"] != null)
{
    <script>
        $.toast({
            heading: 'error',
            showHideTransition: 'slide',
            icon: 'error',
            text: '@TempData["AlertMessages"]',
            position: 'bottom-right',
            stack: false
        })
    </script>

}
<script>
    function submitCustom(e) {
        e.preventDefault();

    }
</script>
