@model E_Commerce.Models.TBLorder

@{
    ViewData["Title"] = "getdetails";
    Layout = "~/Views/Shared/_custdash.cshtml";
}
<style>

    span {
        font-weight: 100;
        font-size: 14px;
        font-family: Roboto,Arial,sans-serif;
    }

    p {
        font-size: 14px;
        font-family: Roboto,Arial,sans-serif;
    }

    .hh-grayBox {
        background-color: #F8F8F8;
        margin-bottom: 20px;
        padding: 35px;
        margin-top: 20px;
    }



    .pt45 {
        padding-top: 45px;
    }



    .order-tracking {
        text-align: center;
        width: 25%;
        position: relative;
        display: block;
    }

        .order-tracking .is-complete {
            display: block;
            position: relative;
            border-radius: 50%;
            height: 30px;
            width: 30px;
            border: 0px solid #AFAFAF;
            background-color: #CCCCCC;
            margin: 0 auto;
            transition: background 0.25s linear;
            -webkit-transition: background 0.25s linear;
            z-index: 2;
        }



            .order-tracking .is-complete:after {
                display: block;
                position: absolute;
                content: '';
                height: 14px;
                width: 7px;
                top: -2px;
                bottom: 0;
                left: 5px;
                margin: auto 0;
                border: 0px solid #AFAFAF;
                border-width: 0px 2px 2px 0;
                transform: rotate(45deg);
                opacity: 0;
            }



        .order-tracking.completed .is-complete {
            border-color: #00AAA6;
            border-width: 0px;
            background-color: #00AAA6;
        }

        .order-tracking.cancelled .is-complete {
            border-color: #00AAA6;
            border-width: 0px;
            background-color: red;
        }


        .order-tracking.completed .is-complete:after {
            border-color: #fff;
            border-width: 0px 3px 3px 0;
            width: 7px;
            left: 11px;
            opacity: 1;
        }

        .order-tracking.cancelled .is-complete:after {
            border-color: white;
            border-width: 0px 3px 3px 0;
            width: 7px;
            left: 11px;
            opacity: 1;
        }



        .order-tracking p {
            color: #A4A4A4;
            font-size: 16px;
            margin-top: 8px;
            margin-bottom: 0;
            line-height: 20px;
            text-transform: uppercase;
        }



            .order-tracking p span {
                font-size: 14px;
            }



        .order-tracking.completed p {
            color: #000;
            font-weight: 500;
        }



        .order-tracking::before {
            content: '';
            display: block;
            height: 3px;
            width: calc(100% - 40px);
            background-color: #cccccc !important;
            top: 13px;
            position: absolute;
            left: calc(-50% + 20px);
            z-index: 0;
        }



        .order-tracking:first-child:before {
            display: none;
        }



        .order-tracking.completed:before {
            background-color: #00BFA6 !important;
        }

        .order-tracking.cancelled:before {
            background-color: red !important;
        }


    </style>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="index" asp-controller="Home">Home</a></li>
        <li class="breadcrumb-item"><a asp-action="EditProfile">My Account</a></li>
        <li class="breadcrumb-item" aria-current="page"><a asp-action="orders" asp-controller="home">My Order</a></li>
        <li class="breadcrumb-item active">Ord:@Model.orderid</li>
    </ol>
</nav>
<div class="card card-body mx-3">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7">
                <div class="row">
                    <div class="col-md-4 col-6"><img src="~/Products/@Model.prd.ImageFile" class="img-fluid" style="height:100%;max-height:125px; width:100%;"></div>
                    <div class="col-md-4 col-6">
                        <span>@Model.prd.Product_name</span><br />
                        <span>Qty:@Model.qtys</span><br />
                        <span>Rs.@Model.totalpay</span>
                    </div>
                    <div class="col-md-4 col-12">
                        @if (Model.status == "Cancel")
                        {

                            <ul style="color:red">
                                <li><span class="text-danger">Status:@Model.status </span></li>
                            </ul>
                        }
                        else if (Model.status == "Pending")
                        {

                            <ul style="color:orange">
                                <li><span style="color:orange">Status:@Model.status </span></li>
                            </ul>
                        }
                        else if (Model.status == "Dispatch" || Model.status == "OutOfDelivery" || Model.status == "Deliver")
                        {

                            <ul style="color:green">
                                <li><span style="color:green;">Status:@Model.status </span></li>
                            </ul>
                        }
                    </div>

                </div>
            </div>
            <div class="col-12 col-md-5">
                <p style="font-weight:600;">Delivery Address</p>
                <p class="font-weight-bold">@Model.Address.name</p>
                <p style="white-space:pre-wrap;">@Model.Address.Address,@Model.Address.City-@Model.Address.pincode,@Model.Address.State</p>
                <p>Contact No:@Model.Address.Phone</p>
            </div>
            <div class="col-12">
                <div class="card card-body">



                    @if (Model.status == "Pending")
                    {

                        <div class="row justify-content-between mb-4 w-100">



                            <div class="order-tracking completed">
                                <span class="is-complete"></span>
                                <p>Pending</p>
                            </div>
                            <div class="order-tracking">
                                <span class="is-complete"></span>
                                <p>Dispatch</p>
                            </div>
                            <div class="order-tracking">
                                <span class="is-complete"></span>
                                <p>Out Of Delivery</p>
                            </div>
                            <div class="order-tracking">
                                <span class="is-complete"></span>
                                <p>Delivery</p>
                            </div>
                        </div>
                    }
                    else if (Model.status == "OutOfDelivery")
                    {

                        <div class="row justify-content-between mb-4 w-100">



                            <div class="order-tracking completed">
                                <span class="is-complete"></span>
                                <p>Pending</p>
                            </div>
                            <div class="order-tracking completed">
                                <span class="is-complete"></span>
                                <p>Dispatch</p>
                            </div>
                            <div class="order-tracking completed" >
                                <span class="is-complete"></span>
                                <p>Out Of Delivery</p>
                            </div>
                            <div class="order-tracking">
                                <span class="is-complete"></span>
                                <p>Delivery</p>
                            </div>
                        </div>
                    }
                    else if (Model.status == "Dispatch")
                    {

                        <div class="row justify-content-between mb-4 w-100">



                            <div class="order-tracking completed" >
                                <span class="is-complete"></span>
                                <p>Pending</p>
                            </div>
                            <div class="order-tracking completed">
                                <span class="is-complete"></span>
                                <p>Dispatch</p>
                            </div>
                            <div class="order-tracking">
                                <span class="is-complete"></span>
                                <p>Out Of Delivery</p>
                            </div>
                            <div class="order-tracking">
                                <span class="is-complete"></span>
                                <p>Delivery</p>
                            </div>
                        </div>
                    }
                    else if (Model.status == "Deliver")
                    {

                        <div class="row justify-content-between mb-4 w-100">



                            <div class="order-tracking completed" >
                                <span class="is-complete"></span>
                                <p>Pending</p>
                            </div>
                            <div class="order-tracking completed">
                                <span class="is-complete"></span>
                                <p>Dispatch</p>
                            </div>
                            <div class="order-tracking completed">
                                <span class="is-complete"></span>
                                <p>Out Of Delivery</p>
                            </div>
                            <div class="order-tracking completed">
                                <span class="is-complete"></span>
                                <p>Delivery</p>
                            </div>
                        </div>
                    }
                    else if (Model.status == "Cancel")
                    {

                        <div class="row justify-content-between mb-4 w-100">



                            <div class="order-tracking completed" style="width:50% !important;">
                                <span class="is-complete"></span>
                                <p>Pending</p>
                            </div>
                            @*<div class="order-tracking completed" style="width:33%!important">
                                <span class="is-complete"></span>
                                <p>Dispatch</p>
                            </div>
                            <div class="order-tracking completed" style="width:33%!important">
                                <span class="is-complete"></span>
                                <p>Out Of Delivery</p>
                            </div>*@
                            <div class="order-tracking cancelled" style="width:50% !important;">
                                <span class="is-complete"></span>
                                <p>Cancel</p>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>