<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <environment include="Development">
        <link rel="stylesheet" href="~/css/style.css"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" />
        </environment>

        <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
        @* <script src="/js/app.js"></script>*@
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        @*<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>*@
    <script type="text/javascript">
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    </script>
        <title>@ViewData["Title"]</title>
</head>

<body>
    <div class="container">
        @RenderBody()
    </div>


</body>
</html>