@model E_Commerce.Models.Category



@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
}

@*<html>*@
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                  @*  <h1 class="m-0">Add Category</h1>*@
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Admin" asp-area="Admin">Home</a></li>
                        <li class="breadcrumb-item active">Add Category</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row d-flex justify-content-center">
                <!--Add category code-->



                <div class="col-md-8">
                    <form asp-action="AddCategory" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="category_name" class="control-label">Category Name</label>
                            <input asp-for="category_name" name="category_name" class="form-control" placeholder="ex:mobile" />
                            <span asp-validation-for="category_name" class="text-danger"></span>
                        </div>
                        @*<div class="form-group">
                            <label asp-for="category_image" class="control-label">Category Image</label>
                            <input asp-for="category_image" type="file" name="category_image" />
                            <span asp-validation-for="category_image" class="text-danger"></span>
                            </div>*@
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>



                <!--Add category code-->
                <!-- ./col -->
            </div>
            <!-- /.row -->
            <!-- Main row -->
            <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

@if (@ViewBag.alertmesaage != null && @ViewBag.status != null)
{
    <script>

    swal("@ViewBag.alertmesaage ", "You clicked Ok Button!", "@(ViewBag.status ? "success" : "error")");
    </script>
}


@*</html>
*@
