@model E_Commerce.Models.ChangePasswordModel
@{
    ViewData["Title"] = "changepassword";
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
}
<link rel="stylesheet" href="~/css/toast.css" />
<script type="text/javascript" src="~/js/toast.js"></script>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    @*<h1 class="m-0">Add Product</h1>*@
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Admin" asp-area="Admin">Home</a></li>
                        <li class="breadcrumb-item active">Add Category</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row d-flex justify-content-center">
                <div class="col-md-8">
                    <form asp-action="changepassword" asp-area="Admin" asp-controller="Admin" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Currentpassword" class="control-label"></label>
                            <input asp-for="Currentpassword" class="form-control" />
                            <span asp-validation-for="Currentpassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Newpassword" class="control-label"></label>
                            <input asp-for="Newpassword" class="form-control" />
                            <span asp-validation-for="Newpassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword" class="control-label"></label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group py-3">
                            <input type="submit" value="Change password" class="btn btn-primary" onclick="submitCustom(e)" />
                        </div>
                    </form>

                </div>
            </div>



            <!-- ./col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <!-- /.row (main row) -->
</div><!-- /.container-fluid -->
    </section>
<!-- /.content -->
    </div>


@if (TempData["Password"] != null)
{
    <script>
        $.toast({
            heading: 'Success',
            showHideTransition: 'slide',
            icon: 'success',
            text: '@TempData["Password"]',
            position: 'bottom-right',
            stack: false
        })
    </script>

}


<script>
    function submitCustom(e) {
        e.preventDefault();

    }
</script>
@if (TempData["error"] != null)
{
    <script>
        $.toast({
            heading: 'error',
            showHideTransition: 'slide',
            icon: 'error',
            text: '@TempData["error"]',
            position: 'bottom-right',
            stack: false
        })
    </script>

}