@model E_Commerce.Models.ApplicationUser
@{
    ViewData["Title"] = "EditProfile";
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
}
@*<link href="https://cdn.bootcss.com/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet">*@
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                   @* <h1 class="m-0">Edit Profile</h1>*@
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Admin" asp-area="Admin">Home</a></li>
                        <li class="breadcrumb-item active">Edit Admin</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row d-flex justify-content-center">
                <!--Add category code-->
                <div class="col-md-8">
                    <form asp-action="EditProfile" asp-controller="Admin" asp-area="Admin" method="post" enctype="multipart/form-data">
                        <input type="hidden" asp-for="Id" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">

                            <label asp-for="fname" class="control-label">User Name</label>
                            <input asp-for="fname" class="form-control" placeholder="Full Name" />
                            <span asp-validation-for="fname" style="color:red;"></span>

                        </div>
                        <div class="form-group">
                            <label asp-for="UserName" class="control-label">Email Id</label>
                            <input asp-for="UserName" class="form-control" placeholder="Email" disable />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PhoneNumber" class="control-label">Mobile</label>
                            <input type="number" asp-for="PhoneNumber" class="form-control" placeholder="Phone Number" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <!--<div class="form-group">
                            <label asp-for="Password" class="control-label"></label>-->
                        @*              <input asp-for="product_desc" class="form-control"  />*@
                        <!--<input asp-for="Password" class="form-control" placeholder="Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>-->
                        <div class="form-group">
                            <input type="submit" value="Save Changes" class="btn btn-primary" onclick="return functionConfirm(this)" />
                        </div>
                    </form>
                </div>
            </div>


            <!-- ./col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <!-- /.row (main row) -->
</div><!-- /.container-fluid -->
    </section>
<!-- /.content -->
    </div>
@*<script src="https://cdn.bootcss.com/sweetalert/1.1.3/sweetalert.min.js"></script>*@
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
@if (@ViewBag.alertmesaage != null && @ViewBag.status != null)
{
    <script>

    swal("@ViewBag.alertmesaage ", "You clicked Ok Button!", "@(ViewBag.status?"success":"error")");
    </script>
}

<script type="text/javascript">
    function functionConfirm(event) {
        console.log('click');

        swal({
            title: "Are You Sure Update Profile?",
            text: "You Will Update Profile Ok",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $('form').submit();
                    return true;
                    swal("Profile Update Succesfully", {
                        icon: "success",
                    });
                } else {
                    swal("Profile Update Cancell!");
                    return false;
                }
            });
        return false;

    }
</script>